@charset "UTF-8";


* {

    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    height: 100vh;
    background-image: linear-gradient( to bottom, #5F2D82, #4B929A );
}


div#fundo {
   
    height: 45vh;
    width: 59%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#a39ffc;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.185) 4px 3px 14px 10px;
    

}

div#img > img {
    
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0%;
    border-radius: 0px 20px 20px 0px;
}

div#formulario {
    position: relative;
    padding: 10px;
    width: 43%;
    
    
}


span {
    color: rgb(255, 255, 255);
    padding: 10px;
}

span#icone {
    color: #a39ffc;
    
}

/* Div  */

div#input-fundo-email {

   background-color: #6C63FF;
   border-radius: 8px;
   margin: 2px;
}

div#input-fundo-password {

    background-color: #6C63FF;
    border-radius: 8px;
    margin: 2px;
    
 }


h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

p {
    padding-bottom: 30px;

}

/*  Input */

input {

    background-color: #CCCC;
    border: 1px solid black;
    padding: 11px;
    border: 0.1px;
    border-radius: 8px;
    margin: 1px;
    width: 85%;
}

input::placeholder {

    color: rgba(0, 0, 0, 0.651);
}

input.botao {
    text-align: start;
    margin: 4px;
    width: 100%;
    background-color: #2F2E41;
    color: white;
    font-size: 15px;
    
}

a { 
    display: block;
    text-align: right;
    text-decoration: none;
    background-color: #2F2E41;
    color:white ;
    border-radius: 8px;
    font-size: 15;
    padding: 1px;
}



/* Hoover */
input:hover {
    background-color: white;
}


input.botao:hover {
    color:white;
    background-color: #7f79f0 ;
    
}

a:hover {
    
    color: rgb(255, 255, 255);
    background-color:#7f79f0;
}